<table>
    <thead>
        <tr>
            {% for col_name in headers %}
                <th>{{ col_name }}</th>
            {% endfor %}
        </tr>
    </thead>
                
    {% for tbody in table_content %}
        <tbody>
        {% for tr in tbody %}
            <tr>
            {% for td in tr %}
                {% if td.rowspan is defined %}
                    <td rowspan="{{ td.rowspan }}" >{{ td.td }}</td>
                {% else %}
                    <td>{{ td.td }}</td>
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    {% endfor %}
</table>
